body {
    margin: 0;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    color: whitesmoke;
    background-image: linear-gradient(
        0deg,
        rgba(0, 0, 0, 0.5),
        rgba(0,0,0,0.5)
    ), url("/img/fondo.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

.wrapper {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-auto-rows: 100px;
}

.box1 {
    grid-column-start: 1;
    grid-row-start: 1;
    grid-row-end: 4;
    background-color:red;
}

.box2 {
    grid-column-start: 2;
    grid-row-start: 1;
    grid-row-end: 2;
    background-color:yellow;
}

.box3 {
    grid-column-start: 2;
    grid-row-start: 2;
    grid-row-end: 3;
    background-color:dodgerblue;
}

.box4 {
    grid-column-start: 2;
    grid-row-start: 3;
    grid-row-end: 4;
    background-color:lime;
}

.box5 {
    grid-column-start: 3;
    grid-row-start: 1;
    grid-row-end: 4;
    background-color:darkviolet;
}

.menu {
    list-style: none;
    display: flex;
    gap: 30px;
}

a {
    text-decoration: none;
    color: whitesmoke;
}

.cabecera {
    display: flex;
}

.imagen-menu {
    width: 80px;
    height: 60px;
    align-items: flex-end;
}


/*Estilos para Productos*/
h1{
    text-align: center;
    font-size: 50px;
}

.compu {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-auto-rows: 500px;
}

.envase {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.txt {
    text-align: center;
    font-size: 15px;
}

/*Estilos para Juegos*/
h1 {
    text-align: center;
    font-size: 50px;
}

.play {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-auto-rows: 500px;
}

/*Se que la clase grupo y envase es lo mismo y lo mejor sería eleminar una y ponerle a las demás la misma clase, pero quizás haga cambios diferentes en cada una*/
.grupo {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}